@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'sans-serif';
  --font-mono: 'JetBrains Mono', 'monospace';
  --font-display: 'Space Grotesk', 'sans-serif';

  --color-bg: #050505;
  --color-surface: #0a0a0a;
  --color-primary: #e0e0e0;
  --color-accent: #888888;
}

@layer base {
  body, html { margin: 0; padding: 0; background-color: #050505; color: #e0e0e0; overflow-x: hidden; }
  /* Custom Scrollbar */
  ::-webkit-scrollbar { width: 6px; }
  ::-webkit-scrollbar-track { background: #0a0a0a; }
  ::-webkit-scrollbar-thumb { background: #333; }
  ::-webkit-scrollbar-thumb:hover { background: #555; }
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}
